// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
$c-primary: #3473b5;
$c-white: #fff;
$c-pink: #e577aa;
$c-blue: #72bbe9;
$c-green: #7abe93;
$c-yellow: #e5b178;
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'reset';

.section {
  color: $c-primary;
  background: $c-white;
  margin: 0 auto;
  padding: 1rem;

}

.container {
  width: 60rem;
  // display: flex;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: calc(100% / 3 - 2rem);
    margin: 1rem;
    border: 0.2rem solid $c-primary;

  }
}

.shop-item {
  &__frame {}

  &__details {
    text-align: center;
  }

  &__actions {
    display: flex;
    border-top: 0.2rem solid $c-primary;

    &-btn {
      width: calc(100% / 5);
      border: 0;
      background: $c-white;
      border-right: 0.1rem solid $c-primary;
      border-left: 0.1rem solid $c-primary;
      color: $c-primary;

      &:hover {
        transform: scale(1.2);
        border: 0.2rem solid $c-primary;
        color: $c-white;
        background: $c-primary;
      }
    }
  }
}

.shop-menu {
  position: relative;

  &__tooltip {
    position: absolute;
    bottom: 100%;
    left: -1%;
    // border: 0.2rem solid $c-primary;
    padding: 0;
    // display: none;

    &:hover {
      transform: scale(1.2);
      flex-direction: column;
      flex-grow: 1;
      // display: block;
      z-index: 1;
    }
  }

  &__tooltip-item {
    border-top: 0.1rem solid $c-primary;
    border-left: 0.1rem solid $c-primary;
    border-right: 0.1rem solid $c-primary;
    padding: 1rem;

    &:hover {
      transform: scale(1.2);
    }
  }
}
