// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
$c-primary: #3473b5;
$c-white: #fff;
$c-pink: #e577aa;
$c-blue: #72bbe9;
$c-green: #7abe93;
$c-yellow: #e5b178;
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'reset';
@import 'shop-item';
@import 'layout';
@import 'shop-menu';
@media (max-width: 640px) {
  .grid {
    // display: flex;
    // flex-wrap: wrap;
    // flex-grow: 1;
    // text-align: center;

    &__item {
      // max-width: calc(100% / 3 - 2rem);
      // flex-grow: 1;
      // margin: 1rem;
      // border: 0.2rem solid $c-primary;
      // min-width: 18rem;

    }
  }
}
