// @import 'yoga-sass/assets/yoga';
// @import 'normalize-css/normalize';

$fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
$c-primary: #3473b5;
$c-white: #fff;
$c-pink: #e577aa;
$c-blue: #72bbe9;
$c-green: #7abe93;
$c-yellow: #e5b178;
@import 'font-awesome/scss/font-awesome';
@import 'box-sizing';
@import 'reset';

.section {
  // display: flex;
  margin: 0 auto;
  padding: 1rem;

}

.container {
  width: 60rem;
  // display: flex;
  margin: 0 auto;
}

.grid {
  // overflow: auto;
  display: flex;
  flex-wrap: wrap;

  &__item {
    width: calc(100% / 3 - 2rem);
    margin: 1rem;
    // overflow: auto;

  }
}

.shop-item {
  &__frame {
    }
}
