.section {
  color: $c-primary;
  background: $c-white;
  margin: 0 auto;
  padding: 1rem;

}

.container {
  max-width: 60rem;
  // display: flex;
  margin: 0 auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  // flex-grow: 1;
  // text-align: center;

  &__item {
    width: calc(100% / 3 - 2rem);
    flex-grow: 1;
    margin: 1rem;
    border: 0.2rem solid $c-primary;
    min-width: 18rem;

  }
}
