.shop-item {
  &__frame {}

  &__details {
    text-align: center;
  }

  &__actions {
    display: flex;
    border-top: 0.2rem solid $c-primary;

    &-btn {
      width: calc(100% / 5);
      border: 0;
      background: $c-white;
      border-right: 0.1rem solid $c-primary;
      border-left: 0.1rem solid $c-primary;
      color: $c-primary;

      &:hover {

        color: $c-white;
        background: $c-primary;
      }
    }
  }
}
