.shop-item {
  display: flex;
  flex-direction: column;

  // &__frame {}

  &__details {
    text-align: center;
  }

  &__actions {
    display: flex;
    border-top: 0.2rem solid $c-primary;

    &-btn {
      flex-grow: 1;
      border: 0;
      border-right: 0.1rem solid $c-primary;
      border-left: 0.1rem solid $c-primary;
      background: $c-white;
      color: $c-primary;

      &:hover {

        background: $c-primary;
        color: $c-white;
      }
    }
  }
  @media (max-width: 670px) {
    flex-direction: row;

    &__actions {
      flex-direction: column;
      border-left: 0.2rem solid $c-primary;

      &-btn {
        padding: 0.8rem;
        border: 0.1rem solid $c-primary;

      }
    }
  }
}
