.shop-menu {
  position: relative;

  &__tooltip {
    position: absolute;
    bottom: 100%;
    left: -1%;
    // border: 0.2rem solid $c-primary;
    padding: 0;
    // display: none;

    &:hover {
      flex-direction: column;
      flex-grow: 1;
      // transform: scale(1.1);
      // display: block;
      z-index: 1;
      font-size: 1rem;
    }
  }

  &__tooltip-item {

    border: 0.1rem solid $c-primary;
    padding: 1rem;
    color: $c-white;
    background: $c-primary;


    &--color {


      &-red {
        color: $c-pink;
      }
      &-blue{
        color: $c-blue;
      }
      &-yellow{
        color: $c-yellow
      }
      &-green{
        color: $c-green;
      }
    }
    &:hover {
      flex-grow: 1;
      font-size: 1rem;
      color: $c-white;
      // transform: scale(1.2);
    }
  }
}
