.shop-menu {
  position: relative;

  &:hover {
    .shop-menu__tooltip {
      display: flex;
    }
  }

  &__tooltip {
    display: none;
    position: absolute;
    bottom: 100%;
    left: -1%;
    flex-direction: column;
    width: 100%;
    padding: 0;
    font-size: 1rem;
  }

  &__tooltip-item {
    padding: 1.1rem;
    border: 0.1rem solid $c-primary;
    background: $c-white;
    color: $c-primary;

    &--color {
      &-red {
        color: $c-pink;
      }

      &-blue {
        color: $c-blue;
      }

      &-yellow {
        color: $c-yellow;
      }

      &-green {
        color: $c-green;
      }
    }

    &:hover {
      flex-grow: 1;
      border: 0.2rem solid $c-primary;
      background: $c-white;
    }
  }

  @media (max-width: 640px) {
    &__tooltip {
      left: 100%;
      flex-direction: row;
      height: 100%;
      padding: 0;
      transform: translate(-613%, 100%);
    }
    &-item--color {
      //  vertical-align: middle;

     }
  }
}

.fa-square {
  &:hover {
    transform: scale(2);


  }
}
